profiles {
    awsdev {
        process.executor = 'awsbatch'
        process.queue = 'dev_wslh_nextflow_nextflow_job'
        workDir = 's3://dev-wslh-sequencing-analyses/work/'
        aws.region = 'us-east-2'
        aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
        docker.enabled = true
    }
    awsprod {
        process.executor = 'awsbatch'
        process.queue = 'prod_wslh_nextflow_nextflow_job'
        workDir = 's3://prod-wslh-sequencing-analyses/work/'
        aws.region = 'us-east-2'
        aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
        docker.enabled = true
    }
}